<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" />
    <title>Chat app</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <link href="style.css" rel="stylesheet" >
  </head>
  <body>
    <div id="room-container">
      <% Object.keys(rooms).forEach(room => { %>
      <div><%= room %></div>
      <a href="/<%= room %>">Join</a>
      <% }) %>
    </div>
    <form action="/room" method="POST">
      <input type="text" name="room" required />
      <button type="submit">New Room</button>
    </form>
    <script src="script.js" defer></script>
  </body>
</html>
